{{define "footer.tmpl"}}
<footer
  class="inset-x-0 bottom-0 mb-[10px] mt-[20px] text-center text-gray-700"
>
  © {{.CurrentYear}} By <link href="https://github.com/faizauthar12">Muhammad Alfaiz Khisma Authar</link>
</footer>
{{end}}