{{define "header.tmpl"}}
<header class="sticky top-0 z-50 bg-white mx-10">
  <div class="layout flex items-center justify-between">
    <div class="flex-start flex items-center gap-1">
      <a class="font-bold hover:text-gray-600" href="/admin">Home</a>
    </div>

    <div class="flex-start flex items-center gap-1">
      <a class="hover:text-gray-600" href="/admin">Help</a>
    </div>
  </div>
</header>
{{ end }}
