{{define "customerpage.tmpl"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{.title}}</title>
  </head>
  <body>
    {{template "header.tmpl"}}

    <main class="mt-5 flex flex-col mx-10">
      <h1>Customers :</h1>

      {{if .Customers}}
      <table class="table-fixed">
        <thead>
          <tr>
            <th>UUID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>PhoneNumber</th>
          </tr>
        </thead>
        <tbody>
          {{
            range.Customers
          }}
          <tr>
            <td>{{.UUID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Email}}</td>
            <td>{{.Address}}</td>
            <td>{{.PhoneNumber}}</td>
          </tr>
          {{
            end
          }}
        </tbody>
      </table>
      {{else}}
      <p>There's nothing to see here... yet!</p>
      {{ end }}

      <div class="flex justify-between">
        {{if gt .pages 1}}
        <a href="{{.previousPage}}">
          <button>Previous Page</button>
        </a>
        {{else}}
        <div></div>
        {{ end }}

        {{if lt .pages .maxPages}}
        <a href="{{.nextPage}}">
          <button>Next Page</button>
        </a>
        {{else}}
        <div></div>
        {{ end }}
      </div>
    </main>

    {{template "footer.tmpl"}}
  </body>
</html>
{{ end }}
